<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:context="http://www.springframework.org/schema/context"
 xmlns:p="http://www.springframework.org/schema/p"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:mvc="http://www.springframework.org/schema/mvc"
 xsi:schemaLocation="
 http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context-4.0.xsd
http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

<bean id="HandlerMapping" class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"/>

 <context:component-scan base-package="com.sapient.controllers"/>
 
 <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
 	<property name="prefix" value="/WEB-INF/dynaviews/"></property>
 	<property name="suffix" value=".jsp"></property>
 </bean>
 
<mvc:resources mapping="/views/bootstrap/css/*" location="/views/bootstrap/css/" />
	<mvc:resources mapping="/views/bootstrap/fonts/*" location="/views/bootstrap/fonts/" />
	<mvc:resources mapping="/views/bootstrap/js/*" location="/views/bootstrap/js/" />
<mvc:resources mapping="/views/js/*" location="/views/js/" /> 
 <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
<property name="basename">
 <value>resources/welcome</value>
 </property>
</bean>
 </beans>